.login {
    background: url("../../assets/images/bg-sign.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
}

.no-acc {
    h4 {
        font-weight: normal;
        font-size: 25px;
    }
}